---
import * as styles from './ThemeToggle.css';
import MoonIcon from '~icons/fa6-solid/moon';
import SunIcon from '~icons/fa6-solid/sun';

const { title } = Astro.props;
---
<button id="theme-toggle-btn" class={styles.themeToggle} title={title}>
    <span class="light-icon"><MoonIcon /></span>
    <span class="dark-icon"><SunIcon /></span>
</button>

<script>
    const themeToggleBtn = document.getElementById('theme-toggle-btn');

    if (themeToggleBtn) {
        const toggleTheme = () => {
            const isDark = document.documentElement.classList.toggle('dark-mode');
            localStorage.setItem('theme', isDark ? 'dark' : 'light');
        };

        themeToggleBtn.addEventListener('click', toggleTheme);
    }
</script>